.btn {
  display: inline-block;
  padding: 0.8em 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;

  // primary btn
  &.btnPrimary {
    color: #ffffff;
    border: 1px solid #494ce8;
    background-color: #494ce8;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    &:hover {
      background-color: #3a3fb5;
    }
    &:active {
      background-color: #2a2f82;
    }
  }

  // secondary btn
  &.btnSecondary {
    color: #494ce8;
    border: 1px solid #494ce8;
    background-color: #ffffff;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    &:hover {
      background-color: #f5f5f5;
    }
    &:active {
      background-color: #e5e5e5;
    }
  }
}
