@import '../utils/vars.scss';

.navbar-logo {
  color: $g-999;
  font-weight: 700;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  margin-right: 30px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.navbar-link {
  display: block;
  transition: all 0.2s ease;
  color: $main-green;
  font-weight: 700;
  transition: all 0.2s ease 0s;

  &:hover {
    transform: scale(1.1);
  }
  // active link
  &.isActive,
  &.router-link-active,
  &.router-link-exact-active {
    text-decoration: underline;
  }
}
