@import '../../scss/utils/vars.scss';

.row {
  display: flex;
}
.cart-img {
  width: 150px;
  margin-right: 20px;
}

.cart-price {
  text-align: right;
}

.cart-remove {
  display: block;
  text-align: center;
  svg {
    min-width: 28px;
    max-width: 36px;
    transition: all 0.3s ease;
  }
  &:hover {
    svg {
      fill: #f77272;
    }
  }
}

.continue-shop {
  display: flex;
  gap: 2rem;
}

.warning-cart {
  padding: 1rem;
  color: $danger-color;
  font-weight: 700;
}

.cart-count {
  vertical-align: middle;
}
