.table-header {
  border-radius: 12px;
  text-align: center;
  box-shadow: -1px 15px 30px -12px rgba(50, 50, 50, 0.2);

  &__controls-top {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0 2rem;
  }

  &__controls-filter {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
    align-items: center;
    @media (min-width: 768px) {
      padding: 1rem;
      grid-template-columns: 60px 140px 1fr 54px 150px 80px 120px;
      grid-template-rows: 1fr;
    }
  }
}
