@import '../../../scss/utils/vars.scss';

.item-card {
  margin: 0 16px;
  position: relative;
  padding: 2em;
  margin: auto;
  border-radius: 14px;
  position: relative;
  box-shadow: -1px 15px 30px -12px rgba(50, 50, 50, 0.2);
  height: 100%;

  figure {
    flex: 0 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  figcaption {
    color: $primary-color;
    padding-top: 16px;
    font-size: 18px;
  }

  &__description {
    flex: 0 1 60%;
    padding: 0 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @media (min-width: 768px) {
    &__content {
      display: flex;
      height: 100%;
      gap: 24px;
    }
    &__description {
      flex: 0 1 100%;
      padding: 0;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  height: auto;
  &__ratting {
    display: flex;
    font-size: 24px;
    column-gap: 1em;
  }
  &__text {
    padding-top: 1em;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 1em;
    flex-grow: 1;
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__stroke {
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    text-align: right;
  }
}
