@import '../../scss/utils/vars.scss';
@import '../../scss/breackpoints.scss';

.radio-button-group {
  display: block;
  text-align-last: left;
  color: $primary-color;

  &__icon {
    width: 1.2rem;
    stroke: $neutral-secondary;
    margin-right: 0.5rem;
  }

  label {
    margin-bottom: 0;
    font-size: 12px;

    @include to-desktop {
      font-size: 16px;
    }
  }
}

.radio-button-group__label {
  font-size: 16px;
  padding-bottom: 0rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

  &:hover {
    color: $danger-color;
    text-decoration: underline;
  }

  @include to-tablet {
    font-size: 16px;
    padding-bottom: 0.1rem;
  }
  @include to-desktop {
    font-size: 18px;
    padding-bottom: 0.4rem;
  }
}

.radio-button-group__label:last-child {
  border-right-color: transparent;
}

.radio-button-group__label--selected {
  cursor: not-allowed;
  color: $danger-color;
  text-decoration: underline;
}

.radio-button-group__input {
  display: none;
}
