@import '../../../scss/utils/vars.scss';

.filter-block {
  &__controls {
    width: 30px;
    overflow: hidden;
    margin: 0 auto;
  }

  &__desc {
    border-radius: 8px 8px 0 0;
  }
  &__asc {
    border-radius: 0 0 8px 8px;
  }

  &__desc,
  &__asc {
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $primary-color;

      svg {
        stroke: $g-0;
      }
    }
  }

  button {
    overflow: hidden;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    outline: none;
    background: $border-light;
  }
  svg {
    transition: all 0.3s ease-in-out;
    stroke: $neutral-regular;
  }
}
