.list-items {
  display: grid;
  grid-template-columns: 1fr 8fr;
  &__list {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    td {
      padding: 0 0.5rem;
      text-align: center;
      vertical-align: center;
    }
  }
  &__description {
    font-size: 0.8rem;
    color: #666;
  }
}
