@import '../../scss/utils/vars.scss';

.list-items {
  display: grid;
  grid-template-columns: 1fr 8fr;
  &__list {
    width: 100%;
    padding-bottom: 2rem;

    td {
      padding: 0 0.5rem;
      text-align: center;
      vertical-align: center;
    }
  }
  &__description {
    font-size: 0.8rem;
    color: #666;
  }

  &__title {
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    &:hover {
      background: $border-base;
    }
  }

  &__img-link {
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    &:hover {
      opacity: 0.5;
    }
  }
}
