@import '../../scss/utils/vars';
@import '../../scss/breackpoints';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 15px 0;
  background-color: $g-0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background: #221f1f;

  @include to-phone {
    padding: 20px 0;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__bg-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000088;
    z-index: -1;
    transition: all 0.4s ease 0s;
  }

  &__menu {
    svg {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: all 0.2s ease 0s;
      color: #fff;
      border-radius: 0.2rem;

      &:hover {
        background: #80808088;
      }
    }
  }

  &__burger-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    left: -100%;
    transition: all 0.4s ease 0s;

    &_open {
      left: 0;
    }

    @include to-phone {
      width: 50%;
    }

    @include to-tablet {
      width: 30%;
    }
  }

  &__search-header {
    display: none;
    width: 100%;
    margin: 0 20px;

    @include to-phone {
      display: block;
    }
  }

  &__mobile-search {
    display: block;
    margin-top: 10px;
    @include to-phone {
      display: none;
    }
  }

  &__logo {
    color: #e2fff9;
    font-weight: 700;
  }

  &__links {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__lang-block {
    display: none;
    @include to-tablet {
      display: block;
    }
  }

  &__icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    color: #fff;
    border-radius: 0.2rem;

    &:hover {
      background: #80808088;
      .header-content__amount {
        background: $danger-color;
      }
    }

    &_person {
      display: none;
      @include to-tablet {
        display: block;
      }
    }
  }
  &__amount {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    background: $main-green;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: all 0.36s ease 0s;
  }
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  &__logo {
    width: 40px;
    height: 40px;
    background: url('../../img/logo-rozetka-small.svg') left/contain no-repeat;

    @include to-desktop {
      width: 240px;

      background: url('../../img/logo-rozetka.svg') left/contain no-repeat;
    }
  }
}
