@import '../../../scss/utils/vars.scss';
.btn-remove {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 0;
  right: 10px;
  color: $danger-color;
}
