@import '../../../scss/utils/vars';
@import '../../../scss/breackpoints';

.lang {
  display: flex;
  align-items: center;

  &__flag {
    height: 10px;
    transform: translate(4px, -5px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__item {
    display: grid;

    &:first-child {
      border-right: 1px solid #fff;
    }
    button {
      cursor: pointer;
      background: transparent;
      font-size: 14px;
      border: none;
      color: #fff;
      transition: all 0.2s ease 0s;

      &:hover {
        color: $danger-color;
      }
    }
    &_native {
      display: grid;
      grid-template-columns: 10px 1fr;
    }
  }

  .active-lang {
    button {
      opacity: 0.5;
    }
  }
}
